#Navbar {
    display:inline-block;
    vertical-align:top;
    width:73%;
    padding:1%;
}
#Divlogo {
    width:23%;
    padding:1%;
    text-align:center;
}
#List {
    width:50%;
    margin-left:auto;
}
#Hero {
    height:600px;
    padding:25px;
}
#Content {
    width:500px;
    margin:auto;
}
#Footer {
    background-color:#373738;
    padding:1%;
    text-align:center;
}
#Footerlist {
    display:inline-block;
    vertical-align:top;
    padding:1%;
    text-align:center;
}